<div class="container">
  <%= form_with url: '', method: :post do |f| %>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Search text</label>
    <%= f.text_field :search, class: "form-control", placeholder: "Enter text" %>
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Result</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <% end %>
</div>
